.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

.success {
  color: rgb(1, 67, 1);
  background: lightgrey;
  font-size: 18px;
  border: 5px solid rgb(11, 112, 11);
  border-radius: 0.5rem;
  padding: 10px;
  margin-bottom: 10px;
  display: inline;
}

h1 {
  font: 500 3rem/101% "Montserrat";
  margin: 1rem 0;
}

h2 {
  font: 400 1rem/101% "Montserrat";
  margin: 2rem 0;
}

h4 {
  font: 500 0.825rem/101% "Montserrat";
  margin: 0.5rem 0;
}

li.infoBitList,
h2 .infoBit {
  font: 600 1rem/101% "Montserrat";
}

li {
  font: 500 1rem/101% "Montserrat";
  margin: 0.5rem 0;
  list-style-type: none;
  transform: translateX(-1rem);
}

h2.lang {
  margin-bottom: 1rem;
}

.btnContainer {
  margin-top: 2rem;
}

.btnContainer button {
  background: none;
  border: none;
  color: rgb(32, 154, 34);
  text-decoration: underline;
  padding: 0;
}
